/* H2 Word Count Plugin */

.h2-word-count-widget {
  margin-left: 0.5em;
  color: var(--text-muted);
  font-size: 0.5em !important;
  font-weight: normal !important;
  opacity: 0.7;
}

/* Settings page styles */
.h2-word-count-settings-support {
  margin-top: 40px;
  text-align: center;
}

.h2-word-count-donation-img {
  height: 60px;
  width: 217px;
}

.h2-word-count-hidden {
  display: none;
}
